{% extends 'banking/base.html' %}

{% block title %}My Account{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">My Account Information</h5>
                <p><strong>First Name:</strong> {{ auth_user.first_name }}</p>
                <p><strong>Last Name:</strong> {{ auth_user.last_name }}</p>
                <p><strong>Email:</strong> {{ auth_user.email }}</p>
                <p><strong>Balance:</strong> {{ account.balance }} $</p>
                <!-- Другие данные вашего пользователя, если они есть -->

                <!-- Кнопка для перевода денег -->
                {% csrf_token %}
                <a class="btn btn-primary btn-lg" href={% url "transfer" %} role="button">Transfer money</a>

            </div>
        </div>
    </div>
{% endblock %}
