{% extends 'banking/base.html' %}

{% block title %}My Account{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="card" style="background-color: rgba(255, 255, 255, 0.5);">
            <div class="card-body">
                <h5 class="card-title">My Account Information</h5>
                <p><strong>First Name:</strong> {{ auth_user.first_name }}</p>
                <p><strong>Last Name:</strong> {{ auth_user.last_name }}</p>
                <p><strong>Email:</strong> {{ auth_user.email }}</p>
                <p><strong>Balance:</strong> {{ account.balance }} $</p>
                <!-- Другие данные вашего пользователя, если они есть -->

                <!-- Кнопка для перевода денег -->
                {% csrf_token %}
                <a class="btn btn-primary btn-lg" href={% url "transfer" %} role="button">Transfer money</a>
                <a class="btn btn-primary btn-lg" href={% url "logout" %} role="button">Log Out</a>
            </div>
        </div>
    <div class="card" style="background-color: rgba(255, 255, 255, 0.5);">
    <div class="card-body" >
        <table class="table table-striped" > <!-- Добавлен класс для стилизации таблицы -->
            <thead class="thead-light" > <!-- Добавлен класс для стилизации заголовка таблицы -->
                <tr>
                    <th>Recipient</th>
                    <th>Amount</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                {% for transaction in transactions %}
                    <tr>
                        <td>{{ transaction.to_account.user.username }}</td>
                        <td>{{ transaction.amount }} $</td>
                        <td>{{ transaction.timestamp }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

    </div>
{% endblock %}
