{% extends 'banking/base.html' %}
{% block title %}My Account{% endblock %}
{% block content %}
<div class="container mt-5">
    <div class="card" style="background-color: rgba(255, 255, 255, 0.5);">
        <div class="card-body">
            <div class="row">
                <div class="col-md-8">
                    <h5 class="card-title">My Account Information</h5>
                    <p><strong>First Name:</strong> {{ auth_user.first_name }}</p>
                    <p><strong>Last Name:</strong> {{ auth_user.last_name }}</p>
                    <p><strong>Email:</strong> {{ auth_user.email }}</p>
                    <p><strong>Balance:</strong> {{ account.balance }} $</p>

                    <!-- Przyciski do akcji -->
                    {% csrf_token %}
                    <a class="btn btn-primary btn-lg" href={% url "transfer" %} role="button">Transfer money</a>
                    <a class="btn btn-primary btn-lg" href={% url "logout" %} role="button">Log Out</a>
                </div>
                <div class="col-md-4">
                    <div class="card" style="background-color: rgba(255, 255, 255, 0.4);">
                        <div class="card-body">
                            <h5 class="card-title">Currency Rates</h5>
                            <p>1 USD = {{ currency_rates.UAH }} UAH</p>
                            <p>1 USD = {{ currency_rates.PLN }} PLN</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Tabela transakcji -->
    <div class="card mt-3" style="background-color: rgba(255, 255, 255, 0.5);">
        <div class="card-body">
            <table class="table table-striped">
                <thead class="thead-light">
                    <tr>
                        <th>Recipient</th>
                        <th>Amount</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for transaction in transactions %}
                        <tr>
                            <td>{{ transaction.to_account.user.username }}</td>
                            <td>{{ transaction.amount }} $</td>
                            <td>{{ transaction.timestamp }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
